[submodule ".local/share/nvim/site/autoload/vim-plug"]
	path = .local/share/nvim/site/autoload/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule ".vim/plugged/gruvbox"]
	path = .vim/plugged/gruvbox
	url = https://github.com/gruvbox-community/gruvbox.git
